<!DOCTYPE html>
<html>

<head>
    <title>CureChat</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io();

    setInterval(() => {
        const num = document.getElementById("timer").innerHTML;
        const number = parseInt(num);
        console.log(number);
        const change = number - 1;
        document.getElementById("timer").innerHTML = change;
    }, 60000);
    setTimeout(() => {
        console.log("we finish bois");
        window.location = "localhost:3000";
    }, 600000);

    function sendMessage() {
        const user = document.getElementById('message-container').getAttribute("name");
        var msg = document.getElementById('chat').value;
        if (msg) {
            socket.emit('msg', { message: msg, username: user });
        }
    }
    socket.on('newmsg', function (data) {
        document.getElementById('message-container').innerHTML += '<div>' + data.username + ": " + data.message + '</div>';
    });
</script>

<body>
    <div name=<%=username %> id="message-container"></div>
    <% if (!spectate) { %>
        <form>
            Chat
            <br>
            <input type="text" name="chat" id="chat">
            <br>
            <button type="button" name="button" id="message" onclick="sendMessage()">
                chat
            </button>
        </form>
        <% } %>
            <div id="timer">10</div>
</body>

</html>