<!DOCTYPE html>
<html>

<head>
	
   <meta charset="utf-8">
   <title>Feedback</title>
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"  media="screen,projection"/>
   <link rel="stylesheet" href="../public/stylesheets/feedback.css">
   <style>
   html{
    padding: 50px;
    border: 10px solid purple;
    /*height: 100%*/
}
form {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 150px;
    z-index: 99;
    background: #lightblue;
/*    border: none;
*/    outline: none;
    /*padding-left: 55px;
    padding-right: 55px;*/
    border-top: 10px solid blue;
}

#chat{
 /* width: 80%;*/
 resize: none;
 height: 100px;
}

#message, #leave{
    position: relative;
    right: 0px;
    bottom: 0px;
    top: 25px;
    height: 100px;
}

/*speech bubble template from https://leaverou.github.io/bubbly/*/
.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    border-top: 0;
    margin-top: -8px;
    margin-left: -16px;
}
#message-container div{

}

</style>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io();

    function sendMessage() {
        const user = document.getElementById('message-container').getAttribute("name");
        var msg = document.getElementById('chat').value;
        if (msg) {
            socket.emit('msg', { message: msg, username: user });
        }
    }
    socket.on('newmsg', function (data) {
        document.getElementById('message-container').innerHTML += '<div class="card-panel white"> <span class="username">' + data.username + "</span><p>" + data.message + '</p></div>';
    });
</script>

<body>

    <h1> Chat </h1>

    <!-- <div class="row"> -->
        <!-- <div class="col s12 m5"> -->
            <div class="card-panel teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                    little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <div name=<%=username %> id="message-container"></div>
            <form>
                <div class="row">
                    <div class="col s1">    
                        <button class="btn waves-effect waves-light" type="button" name="button" id="message"">
                            quit
                            <i class="material-icons center">close</i>
                        </button>
                    </div>
                    <!-- <input type="textarea" name="chat" id="chat"> -->
                    <div class="input-field col s10">
                        <textarea maxlength="420" class="materialize-textarea" name="chat" id="chat"></textarea>
                    </div>

                    <div class="col s1">
                        <button class="btn waves-effect waves-light" type="button" name="button" id="message" onclick="sendMessage()">
                            send
                            <i class="material-icons center">send</i>
                        </button>
                    </div>
                </div>
            </form>
            
            
            <!--Import jQuery before materialize.js-->
            <script type="text/javascript " src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
            <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js "></script>
            <script>
                $(document).ready(function () {
                    $('.sidenav').sidenav();
                    $('.scrollspy').scrollSpy();
                });
            </script>
        </body>
        </html>
