<!DOCTYPE html>
<html>

<head>
	
 <meta charset="utf-8">
 <title>Feedback</title>
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"  media="screen,projection"/>
 <link rel="stylesheet" href="/stylesheets/chat.css">

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io();

    function sendMessage() {
        // get username
        const user = document.getElementById('message-container').getAttribute("name");
        // get message from text area
        var msg = document.getElementById('chat').value;
        if (msg) {
            socket.emit('msg', { message: msg, username: user });
        }
    }

    socket.on('newmsg', function (data) {        
        // if the message was sent by the current user, add the 'from-user' class
        // else add the 'to-user' class
        var classToAdd;
        if(data.username === document.getElementById('message-container').getAttribute("name")){
            classToAdd = "from-user";
        } else{
            classToAdd = "to-user";
        }

        // add the new message to the container
        msgContainer = document.getElementById('message-container');
        msgContainer.innerHTML += '<div class="chat-messages ' + classToAdd + '"> <span class="username">' + data.username + "</span><p>" + data.message + '</p></div>';



        // scroll to the bottom when a new message is sent
        var elem = document.getElementById('chat-wrapper');
        elem.scrollTop = elem.scrollHeight;

    });

</script>

<body>

   <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper cyan darken-4">
        <div class="container">
          <span href="#" class="brand-logo center">Logo</span>
          <a href="#" data-target="mobile" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</div>
</nav>
</header>

<h1> Chatroom </h1>
<div id="chat-wrapper">
    <div class="card-panel yellow darken-4">
        <span class="white-text">     
            Please be nice in the chat!
        </span>
    </div>
    <!-- message container for messages -->
    <div name=<%=username %> id="message-container"></div>
</div>
<!-- form for sending messages to chat -->
<form>
    <div class="row">
        <div class="col l1 s3">    
            <button class="btn waves-effect waves-light" type="button" name="button" id="leave"">
                quit
                <i class="material-icons center">close</i>
            </button>
        </div>
        <div class="input-field col l10 s6">
            <textarea placeholder="Type a message here..." maxlength="420" class="materialize-textarea" name="chat" id="chat"></textarea>
        </div>

        <div class="col l1 s3">
            <button class="btn waves-effect waves-light" type="button" name="button" id="message" onclick="sendMessage()">
                send
                <i class="material-icons center">send</i>
            </button>
        </div>
    </div>
</form>


<!--Import jQuery before materialize.js-->
<script type="text/javascript " src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js "></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.scrollspy').scrollSpy();
    });
</script>
</body>
</html>
