<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home | FeelSociety</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import Font Awesome-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"
    media="screen,projection" />
  <link rel="stylesheet" href="/stylesheets/home.css">
  <!-- FAVICON-->
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper cyan darken-4">
        <div class="container">
          <a href="/" class="brand-logo">FeelSociety</a>
          <% if (user) { %>
          <a href="#" data-target="mobile" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          <% } %>
          </a>
          <ul class="right hide-on-med-and-down">
            <% if (user) { %>
              <li>
                <a href="/portal">Dashboard</a>
              </li>
              <li>
                <a href="/auth/logout">Logout</a>
              </li>
            </ul>
            <% } else { %>
              <li>
                <a href="/auth/google">Login with <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <ul class="sidenav" id="mobile">
    <% if (user) { %>
      <li>
        <a href="/portal">Dashboard</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
    <% } else { %>
      <li>
        <a href="/auth/google">Google+ Login</a>
      </li>
    <% } %>
  </ul>

  <div class="cyan accent-4 z-depth-2">
    <div class="row">
      <div class="col l5 m5 s12">
        <div class="left-align" id="header">
          <h2>FeelSociety <img src="/images/icon.png" id="nav-icon"></h2>
          <h5>An Online Journal and Text-Chatting Application for Healthy Living</h5>
          <div class="divider"></div>
          <br><br>
          <a href="#about" class="btn">Learn More</a>
        </div>
      </div>
      <div class="l7 m7 s12">
        <img src="/images/Dash.png" alt="Showcase of Dashboard" class="z-depth-1 mobile-hide" id="dash">
      </div>

    </div>
  </div>


  <div class="container section">
    <br>
    <h3>About</h3>

    <p class="scrollspy" id="about">
      FeelSociety is an online journal and text-chatting application designed to encourage healthy living.
      Signing up is free and only requires a Google+ account.
    </p>
    <br>
    <div class="divider"></div>
    <br>
    <div class="row extra-pad">
      <div class="col l5 m5 s12 img-1 mobile-hide">
        <img src="/images/JournalEntry.png" alt="Showcase of Journal Entry" class="z-depth-2">
      </div>
      <div class="col l1 m1 s0 mobile-hide"></div>
      <div class="col l6 m6 s12">
        <h4>Journal</h4>
        <p>
          On your dashboard you are encouraged to write daily journal entries.
          These entries help to increase your focus and reduce your stress as
          you organize your thoughts and emotions.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col l6 m6 s12">
        <h4>Chat</h4>
        <p>
          After gaining some clarity, socializing is a great next step for healthy living.
          However being genuine with your thoughts and emotions is not often an easy feat.
        </p>
        <p>
          Thus, through your dashboard you have the option to join an anonymous one-on-one chat room.
          Inappropriate behavior in the chat rooms is reduced through optional spectators and a commend and report system.
        </p>
      </div>
      <div class="col l1 m1 s0 mobile-hide"></div>
      <div class="col l5 m5 s12 img-2 mobile-hide">
        <img src="/images/JournalHistory.png" alt="Showcase of Text-Chat" class="z-depth-2">
      </div>
    </div>

    <% if (!user) { %>
        <div class="center-align">
            <button class="btn"><a href="/auth/google" class="white-text">Login with <i class="fa fa-google-plus" aria-hidden="true"></i></a></button>
        </div>
    <% } %>
    <br>

  </div>

  <div class="section cyan accent-3">
    <div class="container">
      <h5>About Us</h5>
      <div class="row">
        <div class="col m6 s12">
          <h6>
            <strong>The Project</strong>
          </h6>
          <div>This website was made for CruzHacks2018!</div>
        </div>
        <div class="col m6 s12">
          <div class="row">
            <div class="col s6">
              <h6>
                <strong>The Team</strong>
              </h6>
              <ul>
                <li>Egan Bisma</li>
                <li>Joseph Kunzler</li>
                <li>Sanjay Damani</li>
              </ul>
            </div>
            <div class="col s6">
              <h6>&nbsp;</h6>
              <ul>
                <li>ebisma@ucsc.edu</li>
                <li>jkunzler@ucsc.edu</li>
                <li>srdamani@ucsc.edu </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.scrollspy').scrollSpy();
    });
  </script>
</body>

</html>
