<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"
    media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css"
  />

  <!-- TODO: Better way to link stylesheet -->
  <link rel="stylesheet" href="/stylesheets/portal.css">
  <!--For server set href="/stylesheets/portal.css" -->
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="scrollspy" id="top">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper cyan darken-4">
        <div class="container">
          <a href="/" class="brand-logo">FeelSociety</a>
          <a href="#" data-target="mobile" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<!-- SIDENAV --------------------------------------------------------------->
  <ul class="sidenav light-blue lighten-3" id="mobile">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
      <div class="divider"></div>
        <div class="light-blue lighten-3">

          <div class="section text-siderbar light-blue lighten-5">
            <div class="container">

              <strong>Time Bar</strong>
              <abbr title="You lose time credits when you CHAT; you gain time credits at twice the rate when you SPECTATE.">(?)</abbr>
              <div class="progress">
                <div class="determinate" style="width: 70%"></div>
              </div>
              <span>63</span> CHAT Minutes

            </div>
          </div>
          <div class="section text-siderbar light-blue lighten-4">
            <div class="container">

              <strong>Commends</strong>
              <abbr title="Commends are rewarded to users by other users after they CHAT.">(?)</abbr>
              <p class="p-sidebar">
                <i class="material-icons">mood</i> #&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="material-icons">lightbulb_outline</i> #
              </p>

            </div>
          </div>
          <div class="section text-siderbar light-blue lighten-5">
            <div class="container">

              <strong>Streaks</strong>
              <abbr title="Writing a journal entry DAILY will increase you STREAK.">(?)</abbr>
              <p class="p-sidebar">
                # Days
              </p>

            </div>
          </div>

          <div class="section light-blue lighten-4 no-pad-or-marg valign-wrapper">
            <a class="waves-effect waves-teal btn-flat btn-sidebar center-align" href="/chatroom"><strong>Chat</strong>&nbsp;&nbsp;
              <i class="material-icons">question_answer</i>
            </a>
            <!--href="portal/chat"-->
          </div>
          <div class="section light-blue lighten-5 no-pad-or-marg valign-wrapper">
            <a class="waves-effect waves-teal btn-flat btn-sidebar center-align"><strong>Spectate</strong>&nbsp;&nbsp;
              <i class="material-icons">remove_red_eye</i>
            </a>
          </div>
        </div>
  </ul>
<!-- SIDENAV END ------------------------------------------------------------>

  <div class="row" id="dashboard">
    <div class="col l9 m12 s12">
      <div class="container">
        <h4>Dashboard</h4>
        <div class="divider"></div>

        <!-- MAIN SECTION (JOURNAL ENTRY and JOURNAL HISTORY)-->
        <div class="section">
          <h5>Journal Entry</h5>
          <div class="row">
            <form class="col s12" method="post" action "/portal">
              <div class="row no-pad-or-marg">
                <div class="input-field col s6">
                  <input id="input_text" type="text" data-length="10" name="title">
                  <label for="input_text">Entry Title</label>
                </div>
              </div>
              <div class="row no-pad-or-marg">
                <div class="input-field col s12 no-pad-or-marg">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120" name="entry"></textarea>
                  <label for="textarea1">Entry</label>
                </div>
              </div>
              <div class="row">
                <div class="col m8 s12">
                  <div class="row">


                    <input name="feeling" type="radio" id="mood0" />
                    <label for="mood0" class="feeling blue lighten-5">
                      <i class="material-icons">sentiment_very_dissatisfied</i>
                    </label>
                    &nbsp;
                    <input name="feeling" type="radio" id="mood1" />
                    <label for="mood1" class="feeling blue lighten-4">
                      <i class="material-icons">sentiment_dissatisfied</i>
                    </label>
                    &nbsp;
                    <input name="feeling" type="radio" id="mood2" />
                    <label for="mood2" class="feeling blue lighten-3">
                      <i class="material-icons">sentiment_neutral</i>
                    </label>
                    &nbsp;
                    <input name="feeling" type="radio" id="mood3" />
                    <label for="mood3" class="feeling blue lighten-2">
                      <i class="material-icons">sentiment_satisfied</i>
                    </label>
                    &nbsp;
                    <input name="feeling" type="radio" id="mood4" />
                    <label for="mood4" class="feeling blue lighten-1">
                      <i class="material-icons">sentiment_very_satisfied</i>
                    </label>


                  </div>
                </div>
                <div class="col m4 s12">
                  <input class="btn btn-large blue" type="submit" name="submit" value="Submit" onclick="submitEntry()">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="section">
          <h5>Journal History</h5>
          <br>
          <ul class="collapsible" data-collapsible="accordion">
            <% for(let i=0; i < journals.length/2; i++) { %>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">mood</i>
                  <span class="date"> 1/20/18 &nbsp;&nbsp;</span>
                  <%= journals[i].title %>
                </div>
                <div class="collapsible-body">
                  <span>
                    <%= journals[i].entry %>
                  </span>
                </div>
              </li>
              <% } %>
          </ul>
        </div>

        <!-- FLOATING BUTTON IN BOT-LEFT-->
        <div class="fixed-action-btn">
          <a href="#top" class="btn-floating btn-large blue">
            <i class="large material-icons">arrow_upward</i>
          </a>
        </div>

        <!-- END OF MAIN SECTION -->
      </div>
    </div>

    <!-- SIDEBARD -->
    <div class="col l3 m0 s0 mobile-hide">
      <div class="fixed z-depth-2 light-blue lighten-3">
        <div class="section text-siderbar" id="dash_sidebar">
          <div class="container">
            Welcome Back,
            <p>
              <h5>
                <%=user.username %>!</h5>
            </p>
          </div>
        </div>
        <hr class="no-pad-or-marg">
        <div class="section text-siderbar light-blue lighten-5">
          <div class="container">

            <strong>Time Bar</strong>
            <abbr title="You lose time credits when you CHAT; you gain time credits at twice the rate when you SPECTATE.
This is to encourage people to SPECTATE.">(?)</abbr> <!-- The spacing on this line is intentional. -->
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
            <span>63</span> CHAT Minutes

          </div>
        </div>
        <div class="section text-siderbar light-blue lighten-4">
          <div class="container">

            <strong>Commends</strong>
            <abbr title="Commends are rewarded to users by other users after they CHAT.">(?)</abbr>
            <p class="p-sidebar">
              <i class="material-icons">mood</i> #&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="material-icons">lightbulb_outline</i> #
            </p>

          </div>
        </div>
        <div class="section text-siderbar light-blue lighten-5">
          <div class="container">

            <strong>Streaks</strong>
            <abbr title="Writing a journal entry DAILY will increase you STREAK.">(?)</abbr>
            <p class="p-sidebar">
              # Days
            </p>

          </div>
        </div>
        <hr class="no-pad-or-marg">
        <div class="section light-blue lighten-4 no-pad-or-marg">
          <a class="waves-effect waves-teal btn-flat btn-sidebar center-align" href="/chatroom"><strong>CHAT</strong>&nbsp;&nbsp;
            <i class="material-icons">question_answer</i>
          </a>
          <!--href="portal/chat"-->
        </div>
        <div class="section light-blue lighten-5 no-pad-or-marg">
          <a class="waves-effect waves-teal btn-flat btn-sidebar center-align" href="/spectate"><strong>Spectate</strong>&nbsp;&nbsp;
            <i class="material-icons">remove_red_eye</i>
          </a>
        </div>
      </div>
      <!-- END OF SIDEBAR -->
    </div>

    <script>
      const submitEntry = () => {
        // const title = document.getElementById("input_text").value;
        // const entry = document.getElementById("textarea1").value;
        // console.log(title);
        // console.log(entry);
      }
    </script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.scrollspy').scrollSpy();
        $('.collapsible').collapsible();
      });
    </script>
</body>

</html>

<!--//push tesst commet-->
