<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>Dashboard</title>
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"  media="screen,projection"/>

 <!-- TODO: Better way to link stylesheet -->
 <link rel="stylesheet" href="../public/stylesheets/portal.css"> <!--For server set href="/stylesheets/portal.css" -->
 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="scrollspy" id="top">
 <header class="navbar-fixed">
   <nav>
     <div class="nav-wrapper cyan darken-4">
       <div class="container">
         <a href="/" class="brand-logo">Logo</a>
         <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
           <% if (user) { %>
           <li><a href="#">Home</a></li>
           <li><a href="/dashboard">Dashboard</a></li>
           <li><a href="/auth/logout">Logout</a></li>
           <% } else { %>
           <li><a href="/auth/login">Login</a></li>
           <li><a href="/auth/login">Sign Up</a></li>
           <% } %>
         </ul>
       </div>
     </div>
   </nav>
 </header>

 <ul class="sidenav" id="mobile">
   <% if (user) { %>
   <li><a href="#">Home</a></li>
   <li><a href="/dashboard">Dashboard</a></li>
   <li><a href="/auth/logout">Logout</a></li>
   <% } else { %>
   <li><a href="/auth/login">Login</a></li>
   <li><a href="/auth/login">Sign Up</a></li>
   <% } %>
 </ul>


<div class="row">
  <div class="col s9">
    <div class="container">
      <h4>Dashboard</h4>
      <div class="divider"></div>

      <!-- MAIN SECTION (JOURNAL ENTRY and JOURNAL HISTORY)-->
      <div class="section">
        <h5>Journal Entry</h5>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="input_text" type="text" data-length="10">
                <label for="input_text">Entry Title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea1">Entry</label>
              </div>
            </div>
            <div class="row">
              <div class="col s5">
                <ul class="pagination">
                  <li class="waves-effect"><a href="#!"> <i class="material-icons">mood</i></a></li>
                  <li class="waves-effect"><a href="#!"> <i class="material-icons">mood</i></a></li>
                  <li class="waves-effect"><a href="#!"> <i class="material-icons">mood</i></a></li>
                  <li class="waves-effect"><a href="#!"> <i class="material-icons">mood</i></a></li>
                  <li class="waves-effect"><a href="#!"> <i class="material-icons">mood</i></a></li>
                </ul>
              </div>
              <div class="col s7">
                <input class="btn btn-large" type="submit" name="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="section">
        <h5>Journal History</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <!-- FLOATING BUTTON IN BOT-LEFT-->
      <div class="fixed-action-btn">
        <a href="#top" class="btn-floating btn-large blue">
          <i class="large material-icons">arrow_upward</i>
        </a>
      </div>

    <!-- END OF MAIN SECTION -->
    </div>
  </div>

  <!-- SIDEBARD -->
  <div class="col s3">
    <div class="fixed z-depth-2 light-blue lighten-3">
      <div class="section text-siderbar" id="dash_sidebar">
        <div class="container">
          Welcome Back,
          <p><strong><% user.username %>!</strong></p>
        </div>
      </div>
      <hr class="no-pad-or-marg">
      <div class="section text-siderbar light-blue lighten-5">
        <div class="container">

          Time Bar<abbr title="Info">(?)</abbr>
          <div class="progress">
            <div class="determinate" style="width: 70%"></div>
          </div>
          <span>63</span> Minutes Remaining

        </div>
      </div>
      <div class="section text-siderbar light-blue lighten-4">
        <div class="container">

          Commends<abbr title="Info">(?)</abbr>
          <p class="p-sidebar">
            <i class="material-icons">mood</i> #&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">lightbulb_outline</i> #
          </p>

        </div>
      </div>
      <div class="section text-siderbar light-blue lighten-5">
        <div class="container">

          Streaks<abbr title="Info">(?)</abbr>
          <p class="p-sidebar">
            # Days
          </p>

        </div>
      </div>
      <hr class="no-pad-or-marg">
      <div class="section light-blue lighten-4 no-pad-or-marg">
        <a class="waves-effect waves-teal btn-flat btn-sidebar center-align" href="#">Chat&nbsp;&nbsp;<i class="material-icons">question_answer</i></a><!--href="portal/chat"-->
      </div>
      <div class="section light-blue lighten-5 no-pad-or-marg">
        <a class="waves-effect waves-teal btn-flat btn-sidebar center-align">Spectate&nbsp;&nbsp;<i class="material-icons">remove_red_eye</i></a>
      </div>
    </div>
  </div>
 <!-- END OF SIDEBAR -->
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.scrollspy').scrollSpy();
  });
</script>
</body>
</html>

<!--//push tesst commet-->
