h1 {
  font-size: 20px;
  text-align: center;
}

a {
  color: white;
}
.container {
  margin: 0 auto;
}
form #message-form {
  display: none !important;
}
/*targets chatbar*/
form {
  position: fixed;
  width: 100%;

  /*bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 150px;
  z-index: 99;
  background-color: #00acc1; /*cyan darken-1*/
  /*outline: none;
  border-top: 10px solid #006064; /*cyan darken-4*/
}

/*targets textarea*/
::placeholder {
  color: #525c66;
}
#chat {
  /*resize: none;*/
  color: black;
}
#custom-textarea {
  border-radius: 10px;
  margin: 0;
  position: relative;
  top: 2px;
  height: 70px;
}
.input-field {
  height: inherit !important;
}
@media only screen and (max-width: 570px) {
   .mobile-hide{ display: none !important; }
   .mobile-appear{ display: block !important; }
   .nav-extended {
     height: 100px !important;
   }
   #chat-wrapper {
     padding-top: 40px;
   }
}

.nav-content{
  display: none;
}
a {
  color: white !important;
}
/* send message and leave chat buttons */
#message {
  position: relative;
  right: 0px;
  bottom: 0px;
  top: 17px;
  /*height: 100px;*/
}

/*style for username string*/
.username,
.timestamp {
  left: 5px;
  font-style: italic;
  font-size: 14px;
}

/*target all messages*/
.chat-messages {
  width: 40%;
  margin: 10px;
  padding: 15px !important;
  word-wrap: break-word;
  color: white;
}

/*target messages sent by the user*/
/*bubbles from https://leaverou.github.io/bubbly/*/
.from-user {
  float: right;
  padding: 5px;
  position: relative;
  right: 15px;
  background: #00aabb;
  margin-left: 100%;
  /*border-radius: .4em;*/
}

/** {
 	border: 3px solid purple;
 	}*/

.from-user:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

/*admin message styling*/
.from-admin {
  background: black !important;
  color: white !important;
}

.from-admin:after {
  border-right-color: black !important;
}

/*.from-admin .timestamp:after {
  content: " - Admin Message";
}*/

/*target messages send by other users*/
/*TODO: untested, there are values that may need to be tweaked*/
.to-user {
  float: left;
  padding: 5px;
  position: relative;
  left: 15px;
  background: #8bc34a;
  margin-right: 100%;
  /*border-radius: .4em;*/
}

.to-user:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #8bc34a;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

/*body of the chat wrapper*/
#chat-wrapper {
  height: 450px;
  width: 95%;
  vertical-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
  padding-bottom: 0px;
}

#message-container {
  width: 100%;
}
