.fixed {
	position: fixed;
	/*border-left-style: solid;*/
	height: 100%;
}
.no-pad-or-marg {
	padding: 0;
	margin: 0;
}
.btn-floating {
	float:left;
}
.btn-sidebar {
	width: 100%;
	height: 79px;
	padding: 20px 0;
}
#dash_sidebar {
	width: 250px;
}
.text-siderbar {
	height: 100px;
}
abbr {
	border-bottom: none !important;
  text-decoration: none !important;
	font-size: 12px;
	float: right;
}
span {
	font-style: italic;
}
.p-sidebar {
	padding: 0 15px;
}
